* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans' , sans-serif;
    color: #333;
}

h4 {
    font-size: 21px;
}

h4, h5, h6 {
    margin-top:10px;
    margin-bottom: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    color: #777;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 400;
    font-family: 'Open Sans' , sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/*------------------- NAVIGATION SECTION--------------------- */
nav {
    background-color: rgb(42, 133, 42);  
    text-align: center;
}

nav:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    margin: 20px; 
}

.menu {
    margin: 20px; 
}

.logo, .menu {
    display: inline-block;
}

.menu ul {   
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
   text-decoration: none;
   padding:20px 10px 20px 10px;
   color: white;
}

.menu ul li a:hover {
     color: rgb(42, 133, 42);  
    background-color: white;
    transition: all 0.5s ease;
}

.img-container p{
    color: #333;
    font-size: 20px;
}


/* -------------------ABOUT ME SECTION-------------------------- */

.about-me {
    width: 100%;
    /* padding-top: 10px; */
    padding-bottom: 20px;
    text-align: center;
}

.col-right{
    padding-right: 100px;
}


.about-me img {
     border-radius: 50%;
     height: 300px;
     padding-bottom: 80px;
     width: auto;
  }

.about-me:after {
    content: '';
    display: block;
    clear: both;
}

 .about-me h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
} 

.about-me h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -15px;
    background-color: rgb(42, 133, 42); 
}

.about-me .col-left, .about-me .col-right {
    width: 50%;
    float: left;
}

.about-me .col-right {
    width: 50%;
    float: right; 
} 

.about-me .col-left {
    padding-left: 5%;
    padding-top: 20px;
}   


.about-me a {
    background-color: rgb(42, 133, 42);  
    color: white; 
    padding: 10px 25px;
    margin: 15px 10px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}

.about-me a:hover {
    background-color:whitesmoke; 
    color:rgb(42, 133, 42);  
    border: 2px solid rgb(42, 133, 42);
    transition: all 0.5s ease;

}

.about-me .col-left img {
    margin-bottom:10px;
}

@media only screen and (max-width:768px) {
    .about-me .col-left, .about-me .col-right  {
      width: 100%;
    }
}

/* -------------------MY SKILLS SECTION------------------------ */

.my-skills {
    background-color: #e2e2e2;
    padding-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.my-skills h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
} 

.my-skills h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -15px;
    background-color: rgb(42, 133, 42); 
}

.my-skills:after {
    content: '';
    display: block;
    clear: both;
}

.my-skills .skills-up {
    width: 100%;
    float: left;
}

.my-skills .skills-left {
    width: 33.3%;
    display: inline-block;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
} 

.my-skills .skills-center { 
    width: 33.3%;
    display: inline-block;
    float: left;
}

.my-skills .skills-right {  
    width: 33.3%;
    display: inline-block;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

/* down */

.my-skills .skills-down {
    width: 100%;
    float: left;
}

.my-skills .skills-left-down {
    width: 33.3%;
    /* display: inline-block; */
    float: left;
    padding-left: 3%;
    padding-right: 3%;
} 

.my-skills .skills-center-down { 
    width: 33.3%;
    display: inline-block;
    float: left;
}

.my-skills .skills-right-down {  
    width: 33.3%;
    display: inline-block;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

/* 3down */

.my-skills .skills-3down {
    width: 100%;
    float: left;
}

.my-skills .skills-left-3down {
    width: 33.3%;
    /* display: inline-block; */
    float: left;
    padding-left: 3%;
    padding-right: 3%;
} 

.my-skills .skills-center-3down { 
    width: 33.3%;
    display: inline-block;
    float: left;
}

.my-skills .skills-right-3down {  
    width: 33.3%;
    display: inline-block;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

.my-skills i {
    font-size: 45px;
}


@media only screen and (max-width:768px) {
    .my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right   {
      width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .my-skills .skills-left-down .skills-left-3down, .my-skills .skills-center-down .skills-center-3down, .my-skills .skills-right-down  .skills-right-3down   {
      width: 100%;
    }
}


/* -------------------MY EXPERIENCE SECTION------------------------ */

.my-experience {
    background-color: white;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
   
}

.my-experience:after{
    content: '';
    display: block;
    clear: both;
}

.my-experience h2{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    margin-top:0;

}

.my-experience h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -15px;
    background-color: rgb(42, 133, 42); 
}

.my-experience .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 300px;
}

.my-experience .overlay:hover {
    padding-top: 130px;
    transition:  all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay a{
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  


/* -------------------CONTACT SECTION------------------------ */

.contact-section {
    text-align: center;
    background-color: #e2e2e2;
    padding-top: 50px;
    padding-top: 50px;
}

.contact-section:after{
    content: '';
    display: block;
    clear: both;
} 

.contact-section h2{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    margin-top:0;

}

.contact-section h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -15px;
    background-color: rgb(42, 133, 42); 
}


.social-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding-left: 25%;
}


.social-container i {
    float:left;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 30px;
    color: rgb(42, 133, 42); 
}

.col-1 a { 

text-decoration: none;
color: rgb(42, 133, 42); 
} 

.col-1 a:hover { 

color: rgb(42, 133, 42); 
font-weight: 600;

} 

.col-1 {
    width: 50%;
    float: left;
    position: relative;
 }

 .col-2 {   
    width: 50%;
    float: right;
    position: relative;
} 

.col-2 a { 

    text-decoration: none;
    color: rgb(42, 133, 42); 
    } 
    
.col-2 a:hover { 
    
    color: rgb(42, 133, 42); 
    font-weight: 600;
    
    } 

.text-bold {
    color:#333;
    font-weight: bold;
}

/* form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: rgb(42, 133, 42); 
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media only screen and (max-width:768px) {
    .social-container .col-1, .social-container .col-2   {
      width: 100%;
    }
}


/* -------------------FOOTER SECTION------------------------ */


footer {
    background-color: #777777;
    color: #333;
    padding: 10px 20px;
}

footer:after {
    content: '';
    display: block;
    clear: both;
} 

.footer-text p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

} 

.social a {
    text-decoration: none;
    color: #333;
}

.social i {
    font-size: 25px;
}

.social a:hover {
    color: white;
    transition: all 0.5s ease;
}

.social {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

} 

/* -------------------Animations------------------------ */

.wp1, .wp1 + h1 {
    animation-duration: 3s;
}

.my-skills {
    opacity: 0;
}



/* -------------------Hamburger Menu------------------------ */

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {

    .menu {
        display: none;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
    }

     nav::after {
        content: none;
    } 

    nav .logo {
        margin:0;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
       cursor: pointer;
    }

    .hamburger .line {
        width: 50px;
        height: 5px;
        display: block !important;
        background-color: white;
        margin: 8px auto;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        
    }

    .hamburger.is-active .line:nth-child(2){
        opacity: 0;
    }

    .hamburger.is-active .line:nth-child(1){
        transform: translateY(13px) rotate(45deg);
        -moz-transition: translateY(13px) rotate(45deg);
        -webkit-transition: translateY(13px) rotate(45deg);
        -o-transition: translateY(13px) rotate(45deg);
    }

    .hamburger.is-active .line:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
        -moz-transition: translateY(-13px) rotate(-45deg);
        -webkit-transition: translateY(-13px) rotate(-45deg);
        -o-transition: translateY(-13px) rotate(-45deg); 
    }

    .mobile-menu {
        background-color: grey;

    }

    .mobile-menu ul {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
    }
    .mobile-menu ul li:hover {
        background-color: rgb(42, 133, 42); 
        text-decoration: none;
        
    }

    .mobile-menu ul li a {
        color:white;
        text-decoration: none;
    }


}

